$background: #282a36;
$background_dark: #21222c;
$primary_highlight: #800049;
$secondary_highlight: #4d4f66;
$foreground: #f8f8f2;
$comment: #6272a4;
$red: #ff5555;
$orange: #ffb86c;
$yellow: #f1fa8c;
$green: #50fa7b;
$purple: #bd93f9;
$cyan: #8be9fd;
$pink: #ff79c6;
