@import "colors";

@font-face {
  font-family: "Iosevka Term Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/iosevka-term-regular.woff2");
}

@font-face {
  font-family: "Iosevka Term Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/iosevka-term-italic.woff2");
}

@font-face {
  font-family: "Iosevka Term Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/iosevka-term-bold.woff2");
}

@font-face {
  font-family: "Iosevka Term Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/iosevka-term-bolditalic.woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/iosevka-aile-regular.woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/iosevka-aile-italic.woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/iosevka-aile-bold.woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/iosevka-aile-bolditalic.woff2");
}

$font-mono: "Iosevka Term Web", monospace;
$font-prop: "Iosevka Aile Web", sans-serif;

body {
  font-family: $font-prop;
  padding-right: 60px;
  padding-left: 60px;
  margin: 24px auto;
  background-color: $background;
  color: $foreground;
}

header {
  margin: 0px auto;
  margin: 24px auto;
  padding-top: 24px;
  padding-bottom: 8px;
  max-width: 1170px;
  background-color: $background;
  border-bottom: solid 1px $foreground;
}
.pull-right {
  font-family: $font-mono;
  text-align: right;
}
.content {
  margin-bottom: 5%;
}
.title {
  font-size: 48px;
  font-family: $font-prop;
  font-weight: 400;
  line-height: 1;
}
.subtitle {
  font-size: 16px;
  margin: 12px 0px;
  padding-bottom: 10px;
  font-family: $font-prop;
}

main {
  width: 100%;
  margin: 0px auto;
  max-width: 874px;
  padding-top: 12px;
  background-color: $background;
}

h1 {
  font-size: 24px;
  margin: 5px 0;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

h6 {
  font-size: 14px;
  font-weight: bold;
}
img {
  max-width: 100%;
}

footer {
  padding-top: 8px;
  border-top: solid 1px $foreground;
  background-color: $background;
  color: $foreground;
  text-align: center;
  font-size: small;
  font-family: $font-mono;
  margin: 0px auto;
  margin: 24px auto;
  max-width: 1170px;
}

article .headline {
  padding-bottom: 12px;
  border-bottom: dotted 1px $comment;
}

a {
  text-decoration: underline;
  color: $purple !important;
}
a:visited {
  text-decoration: underline;
  color: $primary_highlight !important;
}

li {
  margin-bottom: 11px;
}

blockquote {
  background-color: $background_dark;
  border-left: solid 4px $secondary_highlight;
  margin-left: 24px;
  padding: 12px 12px 12px 24px;
}
blockquote img {
  margin: 12px 0px;
}

pre span {
  white-space: pre-wrap;
}
pre code {
  display: block;
  border: solid 1px $primary_highlight;
  padding: 24px;
  background: $background_dark;
  font-family: $font-mono, monospace;
  font-size: 14px;
  margin-left: 24px;
  margin-right: 40px;
}

code {
  display: inline;
  background: $background_dark;
  font-family: $font-mono, monospace;
  font-size: 14px;
  padding: 2px 2px 2px 2px;
}
